.CreatePersonalizedQuota {
  .usdPersonalizedBox {
    background-color: rgb(46, 125, 50);
    border-color: rgb(33, 95, 36);
    color: white;
  }

  .vesPersonalizedBox {
    background-color: rgb(198, 40, 40);
    border-color: rgb(123, 24, 24);
    color: white;
  }
}
